.containerSchedule {
    height: 100%;
    margin: 0;
	font-family: sans-serif;
	font-weight: 100;
	position:inherit;
	top: 50%;
}

table {
	width: 100%;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
    text-align: center;
}

th {
	text-align: center;
}
