* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Times New Roman', Times, serif
}

input {
    outline: none;
    border: none;
}

input::-webkit-input-placeholder {
    color: white;
}

textarea {
    outline: none;
    border: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

.appLetter {
    color: rgb(230, 230, 230);
    font-style: italic;
}

.background {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.background::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.525);
}

.appLogo {
    font-size: 30px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(12, 99, 102);
    margin: 0 auto;
}

.container {
    width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    padding: 2.5% 5%;

    background: #870606;
    background: -webkit-linear-gradient(top, #870606, #191b6b);
    background: -o-linear-gradient(top, #870606, #191b6b);
    background: -moz-linear-gradient(top, #870606, #191b6b);
    background: linear-gradient(top, #870606, #191b6b);
}

.btnContainer {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.customBtn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 25px;
    border-radius: 25px;

    background: #9152f8;
    background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
    background: -o-linear-gradient(bottom, #7579ff, #b224ef);
    background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
    background: linear-gradient(bottom, #7579ff, #b224ef);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.customBtn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.customBtn:hover {
    color: #fff;
}

.customBtn:hover:before {
    opacity: 0;
}


.selectStyle select {
    background-color: transparent;
    color: rgb(214, 214, 214);
    padding: 3px;
    width: 200px;
    font-size: 17px;
    outline: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace
}

.selectStyle option{
    background-color:rgb(12, 99, 102);
}

@import url('https://fonts.googleapis.com/css?family=Lato');

/* default */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .flip-card-container */
.flip-card-container {
    --hue: 150;
    --primary: hsl(var(--hue), 50%, 50%);
    --white-1: hsl(0, 0%, 90%);
    --white-2: hsl(0, 0%, 80%);
    --dark: hsl(var(--hue), 25%, 10%);
    --grey: hsl(0, 0%, 50%);

    width: 310px;
    height: 490px;

    perspective: 1000px;
}

/* .flip-card */
.flip-card {
    width: inherit;
    height: inherit;

    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;

    background:#09032e;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card-front */
.card-front {
    transform: rotateY(0deg);
    z-index: 2;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

/* .card-back */
.card-back {
    transform: rotateY(180deg);
    z-index: 1;
    font-size: 23px;
    font-style: italic;
    font-weight: bold;
}

/* figure */
figure {
    z-index: -1;
}

/* figure, .img-bg */
figure,
.img-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

/* img */
img {
    height: 100%;
    width: 95%;
    border-radius: 24px;
}

/* figcaption */
figcaption {
    display: block;

    width: auto;
    margin-top: 12%;
    padding: 8px 22px;

    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: right;

    position: absolute;
    top: 0;
    right: 12px;

    color: var(--white-1);
    background: hsla(var(--hue), 25%, 10%, .5);
}

/* .img-bg */
.img-bg {
    background: hsla(var(--hue), 25%, 10%, .5);
}

.card-front .img-bg {
    clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
    content: "";

    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(18deg);

    width: 100%;
    height: 6px;
    border: 1px solid var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;

    transition: .1s;
}

.card-back .img-bg {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
    width: 6px;
    border-left-color: var(--primary);
    border-right-color: var(--primary);
}

/* ul */
ul {
    padding-top: 50%;
    margin: 0 auto;
    width: 70%;
    height: 100%;

    list-style: none;
    color: var(--white-1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* li */
li {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;

    font-size: 17px;
    text-align: center;

    position: relative;
}

li:nth-child(2n) {
    color: var(--white-2);
}

li:not(:last-child)::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background: currentColor;
    opacity: .2;
}


/* .design-container */
.design-container {
    --tr: 90;
    --op: .5;

    width: 100%;
    height: 100%;

    background: transparent;
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
}

/* .design */
.design {
    display: block;

    background: var(--dark);
    position: absolute;

    opacity: var(--op);
    transition: .3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
    width: 1px;
    height: 100%;
}

.design--1,
.design--2 {
    top: 0;
    transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

.design--1 {
    left: 20%;
}

.design--2 {
    left: 80%;
}

.design--3,
.design--4 {
    bottom: 0;
    transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--3 {
    left: 24%;
}

.design--4 {
    left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
    width: 100%;
    height: 1px;
}

.design--5,
.design--6 {
    left: 0;
    transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
    top: 41%;
}

.design--6 {
    top: 59%;
}

.design--7,
.design--8 {
    right: 0;
    transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--7 {
    top: 44%;
}

.design--8 {
    top: 56%;
}

.abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: hsla(0, 0%, 100%, .6);
    font-size: 16px;
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}

.customBtnBack {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #e4e4e4;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;

    background: rgb(12, 99, 102);
    background: -webkit-linear-gradient(bottom, rgb(55, 162, 134), #04524b);
    background: -o-linear-gradient(bottom, rgb(55, 162, 134), #04524b);
    background: -moz-linear-gradient(bottom, rgb(55, 162, 134), #04524b);
    background: linear-gradient(bottom, rgb(55, 162, 134), #04524b);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.customBtnBack::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(12, 99, 102);
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.customBtnBack:hover {
    color: #fff;
}

.customBtnBack:hover:before {
    opacity: 0;
}